<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap" rel="stylesheet">  </head>

  <body class="relative" data-controller="layout" data-layout-hide-class="animate-fadeOut" data-layout-show-class="animate-fadeIn">
    <div data-controller="visibility">
      <header class="fixed flex justify-end left-0 right-0 top-10 z-10 px-10">
        <button data-action="layout#toggleNav" class="">Menu</button>
      </header>

      <nav data-layout-target="navMenu" class="hidden absolute inset-0 z-10 bg-white pt-[100px]">
        <%= render partial: 'shared/nav_menu' %>
      </nav>
    </div>
  
    <main data-layout-target="mainContent" class="w-screen min-h-screen">
      <%= yield %>
    </main>
        <span data-layout-target='cursorCircle' class="absolute z-10 border border-[#ccc] w-[30px] h-[30px] rounded-full pointer-events-none"></span>

  </body>
</html>
